VITE_FIREBASE_API_KEY="AIzaSyDBbKdXxMgZLrcjQfAJSGxkrQcM926VDzE"
VITE_FIREBASE_AUTH_DOMAIN="data-processing-603c6.firebaseapp.com"
VITE_FIREBASE_DATABASE_URL="https://data-processing-603c6-default-rtdb.firebaseio.com"
VITE_FIREBASE_PROJECT_ID="data-processing-603c6"
VITE_FIREBASE_APP_ID="1:536374500916:web:715f000b940fd214e43461"
